

  body{
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }

  h1{
    text-align: center;
    font-family: Karma;
    font-size: 35px;
    letter-spacing: 18px;
    line-height: 55px;
  }

  h2{
    text-align: center;
    letter-spacing: 5px;

  }
  p{
    font-size: 14px;
    text-align: center;
    word-spacing: 1px;
    letter-spacing: 1px;
  }

  ul li{
    list-style-position: inside;
    list-style-type: none;
    text-decoration:underline;
    font-size: 16px;
    text-decoration: none;
  }

  ol {
    list-style-position: inside;
    list-style-type: none;
    font-size: 14px;
    text-decoration: none;
  }

  nav {
    text-align: center;
    font-size: 40px;
    float: right;
    text-decoration-color: white;
  }

  .div1{
    width:55%;
    height: 1000px;
    padding: 50px;
    background-color: #efd3ff;
    float: left;
  }
  .div2{
    width:27%;
    height:1000px;
    padding: 50px;
    background-color: #B8EBD0;
    float:right;
    font-size: 14px;
  }

  footer{
    float:left;
    height: 60px;
    width: 100%;
    margin-top: 10px;
    background-color: #e4e4;
    font-size:14px;
    text-align: left;
  }

  .firstParagraph{

    text-indent: 20px;
  }

  .links:hover{
    text-decoration: none;

  }
