/* styling the form elements */

body h1{
  font-style: italic;
  font-weight: bold;
  text-align: center;

}

body p .paragraphIntro{
  font-style: normal;
  font-weight: normal;
  font-family: serif;
  text-align: center;

}

/* unvisited link */
a:link{
  color: black;
  font-size: 18px;
}

/* visited link */
a:visited{
  color: darkgrey;
}

/* hovering over link */
a:hover{
  font-size: 22px;
  color: crimson;
}

/* selected link */
a:active{
  color: blue;
}

#email{
  color: Blue;
  font-style: italic;
  text-align: right;
}

.button1{
  background-color: azure;
  text-align: center;
  text-decoration-color: black;
  height: 60px;
  width: 200px;
}

.container1{
  height: 200px;
  width: 400px;
  float:left;
  background-color: beige;
  margin-left: 10px;
  margin-top: 100px;
}

.footer {
  overflow: hidden;
  background-color: #999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
